/* in tent.min.css wijzig je NIETS */
/* schrijf in dit bestand je eigen stijlregels om opmaak te regelen die NIET via tent.min.css aangebracht kan worden */

.logo{
    display: inline;
}

.link{
    text-decoration: underline;
    color: white;
}
